copyRight = "Copyright (c) 2020-2024 Thulite"
defaultContentLanguage = "en"
defaultContentLanguageInSubdir = false
disableAliases = true
disableHugoGeneratorInject = true
disableKinds = []
enableGitInfo = false
languageCode = "en-US"
rssLimit = 10
summarylength = 20
enableEmoji = true
baseurl = "http://localhost/"
title = "My Docs"
enableRobotsTXT = true
disableLanguages = [ "de", "nl" ]

[pagination]
pagerSize = 10

[build]
[build.buildStats]
enable = true

[outputs]
home = [ "HTML", "RSS", "searchIndex" ]
section = [ "HTML", "RSS", "SITEMAP" ]

[outputFormats]
[outputFormats.searchIndex]
mediaType = "application/json"
baseName = "search-index"
isPlainText = true
notAlternative = true

[outputFormats.SITEMAP]
mediaType = "application/xml"
baseName = "sitemap"
isHTML = false
isPlainText = true
noUgly = true
rel = "sitemap"

[sitemap]
changefreq = "monthly"
filename = "sitemap.xml"
priority = 0.5

[caches]
[caches.getjson]
dir = ":cacheDir/:project"
maxAge = -1

[taxonomies]
contributor = "contributors"
category = "categories"
tag = "tags"

[permalinks]
blog = "/blog/:slug/"
docs = "/docs/:sections[1:]/:slug/"

[minify]
[minify.tdewolff]
[minify.tdewolff.html]
keepWhitespace = false

[related]
threshold = 80
includeNewer = true
toLower = false

[[related.indices]]
name = "categories"
weight = 100

[[related.indices]]
name = "tags"
weight = 80

[[related.indices]]
name = "date"
weight = 10

[imaging]
anchor = "Center"
bgColor = "#ffffff"
hint = "photo"
quality = 85
resampleFilter = "Lanczos"